extends layout

block content
	div.about
		img(src="/images/luca.jpg")
		h1.title AnInternetTroll
		br
		p Born in 2004
		p Lives in Bærum
		p Dream job: Programmer I guess, I hate web development but I am best at it
		p About me: I am no one :(
		p Contact info: 
			br
			a(href="https://github.com/AnInternetTroll") GitHub
			br
			a(href="mailto:lucamateip@viken.no") Email
		p This website uses the 
			a(href="https://dog.ceo/dog-api/") dog.ceo's api.
