extends layout

block content
	h1 Dogs inc.
	br
	p This website is here to honour the good bois that dogs are
	p This website gets it's dog pictures from
	a(href="https://dog.ceo/dog-api/") dog.ceo's api
