extends layout

block content
	div.home
		h1 Home
		p Welcome to puppies.com. On this website we love puppies a lot. 
		img#img
	div#callToAction
		p Want to get into the meat?
		button(onclick="location.href = '/dogs'") Press here!
