nav
	div.nav
		- var pages = {"Home": "/", "About": "/about"}
		each menu, key in pages
			if (key == pageName)
				div.active.left.nav-item
					a(href=`${menu}`)= key
			else
				div.left.nav-item
					a(href=`${menu}`)= key
		if (pageName == "Dogs" || pageName == "Top")
			div#dropdown.left.nav-item.active
				a Doggos ⏬
				div#dropdown_menu(style="display: none")
					a(href="/dogs") Top 10
					a(href="/top") Top 3
		else
			div#dropdown.left.nav-item
				a Doggos ⏬
				div#dropdown_menu(style="display: none")
					a(href="/dogs") Top 10
					a(href="/top") Top 3
		div.right.nav-item
			a.switchA
				label.switch
					input(type="checkbox", id="colorPreferance")
					span.slider.round(id=slider)