html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
	transition: ease-in-out 200ms;
	transition-delay: 0;
}
body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	nav {
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: #333;
			/* Safari */
			position: -webkit-sticky;
			position: sticky;
			top: 0;
		}
		li.left {
			float: left;
		}
		li.right {
			float: right;
		}
		li {
			a {
				display: block;
				color: white;
				text-align: center;
				padding: 14px 16px;
				text-decoration: none;
			}
			a:hover {
				background-color: #111;
			}
		}
		.active {
			background-color: #4caf50;
		}
		/* Button color preferance start */

		/* The switch - the box around the slider */
		.switch {
			position: relative;
			display: block;
			width: 60px;
			height: 34px;
		}

		/* Hide default HTML checkbox */
		.switch input {
			opacity: 0;
			width: 0;
			height: 0;
		}

		/* The slider */
		.slider {
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #ccc;
			-webkit-transition: 0.4s;
			transition: 0.4s;
		}

		.slider:before {
			position: absolute;
			content: "";
			height: 26px;
			width: 26px;
			left: 4px;
			bottom: 4px;
			background-color: white;
			-webkit-transition: 0.4s;
			transition: 0.4s;
		}

		input:checked + .slider {
			background-color: #2196f3;
		}

		input:focus + .slider {
			box-shadow: 0 0 1px #2196f3;
		}

		input:checked + .slider:before {
			-webkit-transform: translateX(26px);
			-ms-transform: translateX(26px);
			transform: translateX(26px);
		}

		/* Rounded sliders */
		.slider.round {
			border-radius: 34px;
		}

		.slider.round:before {
			border-radius: 50%;
		}
	}
	#callToAction {
		position: absolute;
		bottom: 1rem;
		right: 1rem;
		padding: 14px;
		background-color: #ff00002d;
		text-align: center;
	}
	.dogs {
		article {
			width: 50%;
			margin-left: auto;
			margin-right: auto;
		}
		.card {
			padding: 1rem;
			display: block;
			margin: 2rem;
			width: auto;
			height: auto;
			border-radius: 20px;
			background-color: #00b7ff;
			img {
				width: 100%;
				height: auto;
			}
			button {
				margin: 0.5rem;
			}
		}
	}
	.top {
		margin-right: auto;
		margin-left: auto;
		width: 80%;
		div {
			display: inline-block;
			position: relative;
			margin: 1rem;
			padding: 14px;
			img {
				height: auto;
				width: 15vw;
			}
		}
		#top1 {
			right: auto;
			background-color: yellow;
		}
		#top2 {
			top: 5rem;
			float: left;
			background-color: blue;
		}
		#top3 {
			top: 1rem;
			float: right;
			background-color: green;
		}
	}
	.about {
		margin-left: auto;
		margin-right: auto;
		width: 75%;
		img {
			width: 25%;
			height: auto;
			float: left;
		}
		h1 {
			text-align: center;
		}
		p {
			text-align: right;
		}
	}
	.footer {
		display: block;
		position: static;
		bottom: 1px;
		width: 100%;
		height: 100%;
		padding: 5px;
		text-align: center;
		font-size: 10px;
	}
}
